Qwen2.5-VL-7B-Instruct/
EditScore-7B/
examples/OmniGen2-RL/EditScore-RL-Data/
examples/OmniGen2-RL/GEdit-Bench
examples/OmniGen2-RL/OmniGen2/
examples/OmniGen2-RL/pretrained_models/OmniGen2/transformer